body {
    background-image:url("../imgs/bg.webp");
    font-family: "DM Sans", "sans-serif";
    font-family: "Fira Code", monospace;
    
}

.img-header{
   border: solid;
   border-radius: 100%;
   width: 12em;
   height: 12em;
   object-fit: cover;
   object-position: top;
   border-color: white;
   box-shadow: 0em .06em .9em gray;
   margin-top: -9em;
   overflow: hidden;
}
.img-responsive{
    width:100%;
    display: block;
}


.person-card{
    max-width: 19ww;
    display: flex;
    margin-right: 4em; 
    margin-top: 11em;
    padding: 3em;

    background-position: bottom;
    display: inline-block;
    background-color: white;
    box-shadow: 0em 1em 1em gray;

}

.header{
    border-bottom: 3px solid black;
    text-align: left;
    font-weight: bolder;
    font-size: 1.5rem;
}

.ikona {
    font-family: icomoon;
    font-size: 1.5em;
}